Source: node-webkit
Section: non-free/utils
Priority: extra
Maintainer: Hugo Ruscitti <hugoruscitti@gmail.com>
Build-Depends: debhelper (>= 9.0.0), devscripts, libwww-perl
Standards-Version: 3.9.6
Homepage: https://github.com/rogerwang/node-webkit
Vcs-Git: https://github.com/HuayraLinux/node-webkit.git
Vcs-Browser: https://github.com/HuayraLinux/node-webkit

Package: node-webkit
Architecture: i386 amd64
Depends: ${misc:Depends}, libudev1, libasound2,
    libatk1.0-0, libcairo2, libdbus-1-3, libexpat1, libfontconfig1,
    libfreetype6, libgconf-2-4, libgdk-pixbuf2.0-0, libgtk2.0-0,
    libnspr4, libnss3, libpango1.0-0,
    libx11-6, libxcomposite1, libxdamage1, libxext6, libxfixes3,
    libxrender1
Description: Una plataforma para crear aplicaciones HTML5
 node-webkit es una plataforma que permite crear aplicaciones
 utilizando HTML5, webkit y nodejs.
